@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --primary-color: #0DFF92;
  --dark-color:#222222;
  --light-color: #f0f0f0;
}

body, html{
  height: 100%;
  /* background: var(--dark-color) */
}

* > *{
    font-family: 'Poppins', sans-serif;
}

.container{
  display: block;
  position: relative;
  margin: 10px auto;
  height: auto;
  width: 800px;
  padding: 20px;
}

.container .title{
    font-size: 3em;
    text-align: center;
    padding: .3em .2em;
    border-radius: 4px;
}

.text-light {
	color: var(--light-color)
}

.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
overflow: auto;
}

.container .questions{
    padding: 3em;
}

.contrast-footer{
  /* border: 1px solid; */
  height: 70px;
  background-color:rgb(238, 236, 236);
  /* text-align: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
}







